{% extends 'base.html' %} <!--뼈대 base.html 가져와 사용하겠다-->
{% block content %}
    {#  여기 안에서 test 할 수 있음!!  #}
    <style>
        .testing {
            background-color: yellow;
            margin: 1rem;
            width: 48px;
            height: 48px;
            border-radius: .5rem;
        }
    </style>

    <div style="height: 20rem; background-color: aqua; margin: 2rem; border-radius:1rem;" >
        <h1>TEST</h1>


    <div class="testing" style="display: block">block</div>
    <div class="testing" style="display: block">block</div>
    <div class="testing" style="display: inline">inline</div>
    <div class="testing" style="display: none">none</div>
    <div class="testing" style="display: inline-block">inline-block</div>
    <div class="testing"></div>

    </div>

{% endblock %}