.pragmatic_header_logo {
    margin: 2rem 0;
    font-family: 'Gowun Batang', serif;
}

.pragmatic_header_button {
    margin-bottom: 2rem;
}

.pragmatic_footer_logo {
    margin: 1.5rem 0;
    font-family: 'Gowun Batang', serif;
}

.pragmatic_footer_button {
    margin-top: 1.5rem;
}

/* 회원가입 폼 */
.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image {
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B {
    font-family: "NanumSquareB", cursive;
}

.round_button {
    color: black;
    /*밑줄 없애기*/
    text-decoration: none;
    /*박스 그림자*/
    box-shadow: 0 0 3px dimgray;
    border-radius: 20rem;
    padding: 0.3rem;
}
/*css 선택자 : hover 했을 때!*/
.round_button:hover {
    color: dimgray;
}

.article_content {
    font-size: 1.1rem;
    text-align: left;
}

.article_image {
    border-radius: 1rem;
    width: 60%;
    box-shadow: 0 0 0.5rem grey;
}

.comment_box {
    text-align: left;
    border: thin solid;
    border-color: darkgrey;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem
}
/* 최대 너비 이하까지는 아래 css를 적용시켜주겠다 */
@media screen and (max-width: 500px){
    html {
        /* default font-size: 16px */
        font-size: 13px;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: dimgray;
}

